#response {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#load_more {
	color: #404040;
	background-color: white;
	border-radius: 5px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 4rem;
	padding-right: 4rem;
	margin-top: 0.5em;
	border-width: 2px;
	border-style: solid;
	border-color: #e4eaf0;
	font-size: 16px;
}

.posts {
	width: 100%;
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(3, minmax(300px,1fr));
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.post-container {
	display: flex;
	flex-direction: column;
	box-shadow: rgb(10 31 68 / 4%) 0 16px 32px 0;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #edf3f8;
	overflow: hidden;
	background: white;
}

.post-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}

.post-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 2rem;
	padding-top: 1rem;
}

.post-link {
	width: 100%;
	text-align: center;
	color: #404040;
	background-color: white;
	border-radius: 5px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: auto;
	border-width: 2px;
	border-style: solid;
	border-color: #e4eaf0;
	font-size: 16px;
}

.post-title {
	font-size: 22px;
}

.post-excerpt {
	font-size: 14px;
	padding-bottom: 2rem;
}

.post-categories {
	margin: 0 0 1em;
}

.post-category {
	display: inline-block;
	border-radius: 0.25em;
	padding: 0.2em 0.6em;
	margin-top: 0.4em;
	margin-right: 0.4em;
	margin-bottom: 0.4em;
	font-size: 14px;
}

.fadeIn {
	animation-name: fadeIn;
	animation-duration: 0.8s;
	animation-timing-function: ease;
}

.fadeOut {
	animation-name: fadeOut;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	opacity: 0;
}

.loading {
	opacity: 0;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1)
	}

	1% {
		opacity: 0.5;
		transform: scale(0.9)
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(0.8)
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(1)
	}

    	1% {
        	opacity: 0.2;
        	transform: scale(0.2)
    	}

    	100% {
        	opacity: 1;
        	-webkit-transform: scale(1)
    	}
}

.radio-toolbar {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.radio-toolbar input[type="radio"] {
	display: none;
}

.radio-toolbar label {
	border-color: #ccc;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	margin: 8px 8px 0px 0;
	padding: 4px 11px;
	font-size: 16px;
	cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
	background-color: #0069ff;
	border-color: #0069ff;
	color: white;
}
